/* --- STYLE --- */

html, body{
	background-color:#ed9ea4;
	background-image: url("./bg.jpg");
	background-size: cover;
	margin:0;
	font-family:"Arial", sans-serif;
	font-size: 16px;
}

a:link,a:visited{
	color:#ed9ea4;
	text-decoration: underline;
}

h2, h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	color: #ed9ea4;
}
h3 {
color: #ed9ea4;

}

#about h2, #about h4 { }


.row {
}

#logo {
	float:left;
	margin: 0;
	padding: 10px;
}
#slogan {
	float:right;
}

.headerimg {
	background-color: white;
	width: 100%;
	padding: 10px;
}
#row-logo { background-color: white; margin-left:0px; margin-right: 0px; margin-bottom: 15px; margin-top: 15px;}
#row-logo div { padding-left: 0; padding-right: 0px; }

.content, #about, #bartender, #initiativ, #press, #lansering, #drinkteam {
	padding: 10px;
	background-color: #fff;
}

#about

}

.desc{
	font-weight:bold;
}

#initiativ {
	text-align: center;
	margin-bottom: 30px;
}

#footer{
	color:#fff;
	text-align:center;
}

#footer a {
	color:#fff;
}


.flexbox {
	display: flex;
	flex-direction: column;
}
.row > div > div, .row > div > img {
	margin: 15px 0px;
}
