@import url('https://fonts.googleapis.com/css2?family=Gloock&family=Work+Sans&display=swap');

/* --- STYLE --- */

html, body{
	background-color:#ffeeb6;
	/*background-image: url("./bg.jpg");
	background-size: cover;*/
	margin:0;
	font-family: 'Work Sans', sans-serif;
	font-size: 16px;
	color: #fff;
}

a:link,a:visited{
	color:#ffeeb6;
	text-decoration: underline;
}

h1 {
	font-family: 'Gloock', serif;
	text-align: center;
	font-size: 5em;

}
#row-logo div {
	display: flex;
	align-items: center;
	flex-direction: column;
}
#row-logo div #subtitle {
	font-family: 'Gloock', serif;
	text-align: center;
	font-size: 4em;
	background-color: #5e2612;
	padding: 15px 100px;
}
h2, h3, h4 {
	font-weight: bold;
	margin-top: 0;
	color: #fff;
	font-family: 'Gloock', serif;
}

#images {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	align-items: stretch;
	gap: 30px;
	margin-top: 30px;
	margin-bottom: 15px;
}



#image1 {
	background-image: url("header1.jpg");
	background-size: cover;
	background-position: center;
}

#recipe {
	background-color: #faa02e;
}

#image3 {
	background-image: url("header3.jpg");
	background-size: cover;
	background-position: center;
}


#logo {
	float:left;
	margin: 0;
	padding: 10px;
}
#slogan {
	float:right;
}

#row-logo {
	background-color: #faa02e;
	margin-left:0px;
	margin-right: 0px;
	margin-bottom: 15px;
	margin-top: 15px;
}
#row-logo > div { 
padding: 30px;
}

.content, #recipe, #about, #bartender, #initiativ, #press, #lansering, #drinkteam {
	padding: 30px;
	background-color: #faa02e;
}


.desc{
	font-weight:bold;
}

#initiativ {
	margin-bottom: 30px;
}

#footer, #footer a{
	color:#faa02e;
	text-align:center;
}


.flexbox {
	display: flex;
	flex-direction: column;
}
.row > div > div, .row > div > img {
	margin: 15px 0px;
}
