/* --- STYLE --- */

html, body{
	background-color:#c71931;
	background-image: url("./img/bg.png?ver=190613");
	background-repeat: repeat;
	margin:0;
	font-family:"Arial", sans-serif;
	font-size: 16px;
}

a:link,a:visited{
	color:#c71931;
	text-decoration: underline;
}

h2, h4 {
	text-transform: uppercase;
	font-weight: bold;
	text-align: center;
	margin-top: 0;
	color: #c71931;
}

#about h2, #about h4 { }


.row {
}

#logo {
	float:left;
}
#slogan {
	float:right;
}

.headerimg {
	background-color: white;
	width: 100%;
	padding: 10px;
}

#content, #about, #bartender, #initiativ, #press, #lansering, #drinkteam {
	padding: 10px;
	background-color: #fff;
}

#about

}

.desc{
	font-weight:bold;
}

#initiativ {
	text-align: center;
	margin-bottom: 30px;
}

#footer{
	color:#fff;
	text-align:center;
}

#footer a {
	color:#fff;
}


.flexbox {
	display: flex;
	flex-direction: column;
}
.row > div > div, .row > div > img {
	margin: 15px 0px;
}
